SLACK_WORKSPACE1_BOT_TOKEN=<Your bot token here>
SLACK_WORKSPACE1_CHANNEL_ID=<Your channel ID here>

SLACK_WORKSPACE2_BOT_TOKEN=<Your bot token here>
SLACK_WORKSPACE2_CHANNEL_ID=<Your channel ID here>